<h1 class="title is-1">Sports R Us</h1>

<div class="columns">
    <div class="column">
        <h3 class="title is-5">
            Top 10 Products
        </h3>
        <ol class="ml-5">
            <% @products.each do |product| %>
            <li><%= link_to product.title, product %></li>
            <% end %>
        </ol>
    </div>

    <div class="column">
        <h3 class="title is-5">
            Top 10 Brands
        </h3>
        <ol class="ml-5">
            <% @brands.each do |brand| %>
            <li><%= link_to brand.name, brand %></li>
            <% end %>
        </ol>
    </div>
</div>
