<% content_for(:title) { "Sports" } %>

<h2 class="title is-3">Sports</h2>

<p class="mb-5">These are sports and activities that are played and/or done.</p>

<ol class="ml-5">
    <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %>
        </li>
    <% end %>
</ol>
