<% content_for(:title) { "Products" } %>

<h2 class="title is-3">Products</h2>

<p class="mb-5">A list of equipment used when playing sports and/or doing activities.</p>
<ol class="ml-5">
    <%= render @products %>
</ol>
