<footer>
    <div class="content has-text-centered">
        <ul>
            <%= [link_to("Home", root_path), link_to("Top Products", products_path), link_to("Top Brands", brands_path)].join(" | ").html_safe %>

            <% if cms_pages.any? %>
                <%= " | ".html_safe + cms_pages.map { |page| link_to(page.title, pages_permalink_path(page.permalink)) }.join(" | ").html_safe %>
            <% end %>
        </ul>
    </div>
</footer>